<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jtlrm.ckd">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 此处仅用于获取设备唯一识别号，详见CommonUtil.getDeviceUniqueId() -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 此处仅用于获取设备唯一识别号，详见CommonUtil.getDeviceUniqueId() -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.example.gydj.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <permission
        android:name="com.jtl.chat.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signatureOrSystem" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name,icon, label, theme">
        <activity
            android:name=".mvp.view.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.view.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.view.activity.PersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.RenCaiDengJiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.UpdateAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.NoticeSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.MyQRCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.ZhangHaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.ChangePhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.MyWorkerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.CreateGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.PickContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.PicWorkerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.ChatPersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.RemarkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.RebuilPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.ServiceRuleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.SettingPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.CompleteInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.RegisterSuccessfulActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.HeaderChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.CropImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.HuanZheManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.YinShidetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.ShiWuSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.YinShiTuPianActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity android:name=".mvp.view.activity.ShengHuaCheckDetailActivity" />
        <activity android:name=".mvp.view.activity.ShengHuaDataEditorActivity" />
        <activity android:name=".mvp.view.activity.YingYangPingGuDetailActivity" />
        <activity android:name=".mvp.view.activity.YingYangPingGuEditorActivity" />
        <activity android:name=".mvp.view.activity.YingYangBaoGaoDetailActivity" />
        <activity android:name=".mvp.view.activity.YingYangBaoGaoAddActivity" />
        <activity android:name=".mvp.view.activity.NewHuanZheJianDangActivity" />
        <activity android:name=".mvp.view.activity.NewHuanZheJianDangActivity2" />
        <activity android:name=".mvp.view.activity.LiangBiaoPingGuSubListActivity" />
        <activity android:name=".mvp.view.activity.HomeQueryHuanZheActivity" />
        <activity android:name=".mvp.view.activity.SuiFangPaiBanActivity" />
        <activity android:name=".mvp.view.activity.SuiFangPaiBanSearchActivity" />
        <activity android:name=".mvp.view.activity.AddSuiFangPersonActivity" />
        <activity android:name=".mvp.view.activity.ShuJuShenHeActivity" />
        <activity
            android:name=".mvp.view.activity.ShenHeFalseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity android:name=".mvp.view.activity.ShuJuShenHeDetailActivity"></activity>
    </application>

</manifest>