<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jtlrm.ckd">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 此处仅用于获取设备唯一识别号，详见CommonUtil.getDeviceUniqueId() -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 此处仅用于获取设备唯一识别号，详见CommonUtil.getDeviceUniqueId() -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.example.gydj.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <permission
        android:name="com.jtl.chat.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signatureOrSystem" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name,icon, label, theme">
        <activity
            android:name=".mvp.view.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.view.activity.LoginActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".mvp.view.activity.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.view.activity.PersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.RenCaiDengJiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.UpdateAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.NoticeSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.RegisterActivity"
            android:screenOrientation="portrait" />

        <!--<receiver android:name=".jpush.MyJPushMessageReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />-->

                <!--<category android:name="com.ys.yarc" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; User defined.  For test only  用户自定义的广播接收器 &ndash;&gt;-->
        <!--<receiver-->
            <!--android:name=".jpush.MyReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.intent.REGISTRATION" /> &lt;!&ndash; Required  用户注册SDK的intent &ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> &lt;!&ndash; Required  用户接收SDK消息的intent &ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> &lt;!&ndash; Required  用户接收SDK通知栏信息的intent &ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> &lt;!&ndash; Required  用户打开自定义通知栏的intent &ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.CONNECTION" /> &lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt;-->
                <!--<category android:name="com.ys.yarc" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
    </application>

</manifest>